.container {
  position: relative;
  width: 100%;
  
  
}
img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hello {
  position: absolute;
  left: 28%;
  bottom: 30px;
  font-family: Abril Fatface;
  font-size: 200%;
  color: #222;

}
h4{
  margin: -8px;
  padding: 0px;
  font-weight: 400;
}
h1{
  margin: 0px;
  display: inline;
  width: 1000px;
  font-weight: 400;
}
p {
  display: inline;
}
#anal {
  font-weight: 400;
}
.text{
  position: relative;
  display: block;
  font-family: Josefin Sans;
  font-weight: 300; 
  font-size: 120%;
  line-height: 150%;
  width: 750px;
  color: #222
  
}
ul {
  display: block;
  
}
.list {
  display: block;
}
.page { 
  margin: 70px 0px 0px 380px;
  
  
}
#quote {
  background: #222;
  font-size: 200%;
  font-family: Abril Fatface;
  color: white;
  padding: 35px;
  margin: 70px 0px 0px -30px;
  display: flex;
  width: 80%;
  height: auto;
  line-height: 150%;
}
h3 {
  font-family: Josefin Sans;
  font-size: 120%;
  color: #222;
  margin: 50px 0px 50px 0px;
  
}
.achivements {
  font-size: 120%;
  font-family: Josefin Sans;
  font-weight: bold;
  display: block;
  margin: 50px 0px 0px 0px;
}
#description {
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 100%;
  margin-top: 40px;
  display: block;
  
}
.title {
  font-family: Merriweather;
  font-size: 80%;
  font-weight: bold;
  
}
hr {
  height: 2px;
  background: black;
  border: none;
}
  
blockquote{
  position: relative;
}
blockquote::before {
  content:'“';
  font-size: 280%;
  position: absolute;
  left:0px;
  top:15px;
}